<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lakeshore Market Place</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

	<p>Product Search by Product Id</p>
	<div ng-app="myApp">
		<div ng-controller="myController">
			<form ng-submit="productSearch()">
			  <input type="text" ng-model="productId"> 
			  <input type="submit" value="Search">
			</form>	
			<hr>
			<div ng-if=productSearchResult>
				<p>Product ID: {{productSearchResult.id}}</p>
				<p>Name: {{productSearchResult.name}}</p>
				<p>Description: {{productSearchResult.description}}</p>
				<p>Price: {{productSearchResult.price}}</p>
				<p>Available: {{productSearchResult.product_available}}</p>
				<p>Hateoas Link: {{productSearchResult.link}}</p>
				<button style="height:30px;width:200px" ng-click="purchase(productSearchResult.link[0].uri, productSearchResult.link[0].action, productSearchResult.id, productSearchResult.price)">Purchase Product</button>
				<div ng-if=orderCreatedResult>
					<hr>
					<p>Order successfully created</p>
					<p>Id: {{orderCreatedResult.id}}</p>
					<p>Total: {{orderCreatedResult.orderTotal}}</p>
					<p>Status: {{orderCreatedResult.orderStatus}}</p>
					<p>Hateoas Link: {{orderCreatedResult.link[0]}}</p>
					<p>Hateoas Link: {{orderCreatedResult.link[1]}}</p>
					<button style="height:30px;width:200px" ng-click="checkStatus(orderCreatedResult.link[0].uri, orderCreatedResult.link[0].action, orderCreatedResult.id)">Check Order Status</button>
					<button style="height:30px;width:200px" ng-click="cancel(orderCreatedResult.link[1].uri, orderCreatedResult.link[1].action, orderCreatedResult.id)">Cancel Order</button>
				
					<div ng-if=orderStatus>
						<hr>
						<p>Order Status: {{orderStatus.orderStatus}}</p>
						<p>Hateoas Link: {{orderStatus.link}}</p>
					</div>
					
					<div ng-if=cancelResult>
						<hr>
						<p>Order Canceled</p>
						<p>Hateoas Link: {{cancelResult.link}}</p>
					</div>
				</div>
				<hr>
			 </div>
			 
			 <p>Order Search by Order Id</p>
			 <form ng-submit="orderSearch()">
			  <input type="text" ng-model="orderId"> 
			  <input type="submit" value="Search">
			</form>	
			<div ng-if=orderSearchResult>
			<p>Order Id: {{ orderSearchResult.id}}</p>
			<p>Total: {{ orderSearchResult.orderTotal}}</p>
			<p>Status: {{ orderSearchResult.orderStatus}}</p>
			<p>Total: {{ orderSearchResult.orderTotal}}</p>
			<p>Hateoas Link: {{orderSearchResult.link[0]}}</p>
			<p>Hateoas Link: {{orderSearchResult.link[1]}}</p>
			<p>Hateoas Link: {{orderSearchResult.link[2]}}</p>
			<p>Hateoas Link: {{orderSearchResult.link[3]}}</p>		
			</div>
			<hr>
			<p>Customer Search by Cust Id</p>
			<form ng-submit="customerSearch()">
			  <input type="text" ng-model="custId"> 
			  <input type="submit" value="Search">
			</form>
			<div ng-if=customerSearchResult>
			<p>Customer Id: {{ customerSearchResult.id}}</p>
			<p>First Name: {{ customerSearchResult.firstName}}</p>
			<p>Last Name: {{ customerSearchResult.lastName}}</p>
			<p>Phone: {{ customerSearchResult.phone}}</p>
			<p>Hateoas Link: {{customerSearchResult.link[0]}}</p>	
			</div>
			<hr>
			<p>Partner Search by Partner Id</p>
			<form ng-submit="partnerSearch()">
			  <input type="text" ng-model="partnerId"> 
			  <input type="submit" value="Search">
			</form>
			<div ng-if=partnerSearchResult>
			<p>Partner Id: {{ partnerSearchResult.id}}</p>
			<p>Company: {{ partnerSearchResult.companyName}}</p>
			<p>Address: {{ partnerSearchResult.address}}</p>
			<p>Phone: {{ partnerSearchResult.phone}}</p>
			<p>City: {{ partnerSearchResult.city}}</p>
			<p>State: {{ partnerSearchResult.state}}</p>
			<p>Postal Code: {{ partnerSearchResult.postalCode}}</p>
			<p>Country: {{ partnerSearchResult.country}}</p>
			<p>Phone: {{ partnerSearchResult.phone}}</p>
			<p>Email: {{ partnerSearchResult.email}}</p>
			<p>Hateoas Link: {{partnerSearchResult.link[0]}}</p>	
			</div>
		</div>
	</div>
	
	<!-- <article ng-app="myApp">
	  <section ng-controller="booksCtrl">
	    <h2 ng-repeat="book in data.books">{{book.name}}</h2>    
	  </section>
	</article> -->

	<!--  <article ng-app="myApp">
	  <section ng-controller="productsCtrl">
	    <h2 ng-repeat="product in results">{{product.id}}</h2>    
	  </section>
	</article>-->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
